.container{
    grid-area: footer;
    color: white;
    background-color: hsl(var(--very-dark-violet));
}
.container__inner{
    
}
.section{
    text-align: center;
}

.linkItem{
    color: hsl(var(--grayish-violet));
    font-size: .875rem;

}