.container{
    background-color: white;
    grid-area: header;
}
.icon__navbar{
    color: hsl(var(--grayish-violet));
    width: 1.6rem;
    height: 1.6rem;
}
.separateModal{
    width: 100%;
    border-color: hsl(var(--light-violet));
}