.input{
    border-radius: 6px;
    width: 100%;
}
.button{
    color: white;
    font-weight: 700;
    background-color: hsl(var(--cyan));
    border-radius: 6px;
    
    transition: all .2s ease-in;
}
.button:hover{
    background-color: hsl(var(--light-cyan));
}
.shortenedLink{
    background-color: white;
    border-radius: 6px;
}
.shortenedLink:first-child{
    margin-top: 1.5rem;
}
.shortenedLink__url{
    border-bottom: solid 1px hsla(var(--grayish-violet),.3);
    color: hsl(var(--very-dark-blue));
}
.shortenedLink__link{
    color: hsl(var(--cyan));
}
.error{
    color: hsl(var(--red));
    font-size: .812rem;
    font-style: italic;
}
/*Breakpoint Desktop*/
@media screen and (min-width:640px) {
    .shortenedLink__url{
        border: none;
    }
    .buttonLink{
        font-size: .72em;
    }
  }