@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: 180, 66%, 49%;
  --dark-violet: 257, 27%, 26%;

  --red: 0, 87%, 67%;

  --gray: 230, 25%, 95%;
  --grayish-violet: 257, 7%, 63%;
  --light-violet: 257, 19%, 36%;
  --very-dark-blue: 255, 11%, 22%;
  --very-dark-violet: 260, 8%, 14%
}

body{
  font-size: 1.125rem;
}
p{
  color: hsl(var(--grayish-violet));
}
.container{
  max-width: 1140px;
  width: 100%;
  margin: auto;
}
.containerRoot{
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header  header  header"
                       "content content content"
                       "footer  footer  footer";

}

/*Styles for links*/
.links{
  color: hsl(var(--grayish-violet));
  font-size: .875rem;
}
/*Styles for button links*/

.linkButton{
    display: inline-block;
    background-color: hsl(var(--cyan));
    color: white;
    font-weight: 700;
    text-align: center;
    border-radius: 50px;
}
.linkButton:hover{
    opacity: .5;
}
.linkButton--block{
    width: 100%;
}

/*Styles for titles*/

.title{
  color: hsl(var(--very-dark-blue));
  font-weight: 700;
  line-height: 1.2;
}
.title--size1{
  font-size: 2.5em;
}
.title--size2{
  font-size: 1.7em;
}
.title--size3{
  font-size: 1.3em;
}

/*Breakpoint Desktop*/
@media screen and (min-width:640px) {
  .title--size1{
    font-size: 4.3em;
  }
  .title--size2{
    font-size: 2.2em;
  }
}