@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: 180, 66%, 49%;
  --dark-violet: 257, 27%, 26%;

  --red: 0, 87%, 67%;

  --gray: 0, 0%, 75%;
  --grayish-violet: 257, 7%, 63%;
  --light-violet: 257, 19%, 36%;
  --very-dark-blue: 255, 11%, 22%;
  --very-dark-violet: 260, 8%, 14%
}

body{
  background-color: hsl(var(--gray));
  font-size: 1.125rem;
}
.container{
  max-width: 1140px;
}
.containerRoot{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header  header  header"
                       "content content content"
                       "footer  footer  footer";

}
